In [31]:
from nba_api.stats.endpoints import leaguegamelog
import matplotlib.pyplot as plt
import pandas as pd

In [32]:
league_game_log = leaguegamelog.LeagueGameLog(season = '2021', player_or_team_abbreviation = 'P').get_data_frames()[0]

In [33]:
league_game_log.describe()

,PLAYER_ID,TEAM_ID,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,...,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,FANTASY_PTS,VIDEO_AVAILABLE
count,1.522000e+04,1.522000e+04,15220.000000,15220.000000,15220.000000,14446.000000,15220.000000,15220.000000,11881.000000,15220.000000,...,15220.000000,15220.000000,15220.000000,15220.000000,15220.000000,15220.000000,15220.000000,15220.000000,15220.000000,15220.000000
mean,1.170772e+06,1.610613e+09,22.462089,3.721156,8.203351,0.442334,1.146321,3.293693,0.320385,1.516886,...,4.176216,2.239685,0.714389,0.452760,1.235020,1.803154,10.105519,-0.001840,20.742930,0.992181
std,6.693346e+05,8.675953e+00,10.829628,3.108953,5.906780,0.238950,1.465667,3.061122,0.289377,2.176227,...,3.461800,2.529485,0.951669,0.794597,1.409241,1.464256,8.363020,11.245944,14.349389,0.100616
min,2.207000e+03,1.610613e+09,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-56.000000,-3.300000,0.000000
25%,2.035070e+05,1.610613e+09,15.000000,1.000000,4.000000,0.313000,0.000000,1.000000,0.000000,0.000000,...,2.000000,0.000000,0.000000,0.000000,0.000000,1.000000,4.000000,-7.000000,9.400000,1.000000
50%,1.628401e+06,1.610613e+09,23.000000,3.000000,7.000000,0.444000,1.000000,3.000000,0.333000,1.000000,...,3.000000,1.000000,0.000000,0.000000,1.000000,2.000000,8.000000,0.000000,18.900000,1.000000
75%,1.629672e+06,1.610613e+09,31.000000,6.000000,12.000000,0.571000,2.000000,5.000000,0.500000,2.000000,...,6.000000,3.000000,1.000000,1.000000,2.000000,3.000000,15.000000,7.000000,29.800000,1.000000
max,1.630846e+06,1.610613e+09,53.000000,19.000000,36.000000,1.000000,10.000000,20.000000,1.000000,19.000000,...,25.000000,18.000000,8.000000,8.000000,10.000000,6.000000,56.000000,52.000000,87.800000,2.000000

In [34]:
print(league_game_log.columns)
league_game_log.head()

Index(['SEASON_ID', 'PLAYER_ID', 'PLAYER_NAME', 'TEAM_ID', 'TEAM_ABBREVIATION',
       'TEAM_NAME', 'GAME_ID', 'GAME_DATE', 'MATCHUP', 'WL', 'MIN', 'FGM',
       'FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT',
       'OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS',
       'PLUS_MINUS', 'FANTASY_PTS', 'VIDEO_AVAILABLE'],
      dtype='object')

,SEASON_ID,PLAYER_ID,PLAYER_NAME,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,...,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,FANTASY_PTS,VIDEO_AVAILABLE
0,22021,203145,Kent Bazemore,1610612747,LAL,Los Angeles Lakers,0022100002,2021-10-19,LAL vs. GSW,L,...,2,0,0,1,1,4,8,10,12.4,1
1,22021,202357,Nemanja Bjelica,1610612744,GSW,Golden State Warriors,0022100002,2021-10-19,GSW @ LAL,W,...,11,4,1,0,1,2,15,20,36.2,1
2,22021,203952,Andrew Wiggins,1610612744,GSW,Golden State Warriors,0022100002,2021-10-19,GSW @ LAL,W,...,7,1,1,0,2,3,12,-5,22.9,1
3,22021,2730,Dwight Howard,1610612747,LAL,Los Angeles Lakers,0022100002,2021-10-19,LAL vs. GSW,L,...,6,0,0,0,2,2,5,-7,10.2,1
4,22021,1626172,Kevon Looney,1610612744,GSW,Golden State Warriors,0022100002,2021-10-19,GSW @ LAL,W,...,4,1,1,1,1,0,7,-8,18.3,1

In [40]:
key_centers = league_game_log.loc[(league_game_log['PLAYER_NAME'].str.contains('Embiid') | league_game_log['PLAYER_NAME'].str.contains('Giannis') | league_game_log['PLAYER_NAME'].str.contains('Jokic'))]

key_centers.tail()

,SEASON_ID,PLAYER_ID,PLAYER_NAME,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,...,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,FANTASY_PTS,VIDEO_AVAILABLE
14671,22021,203999,Nikola Jokic,1610612743,DEN,Denver Nuggets,0022100692,2022-01-21,DEN vs. MEM,L,...,11,12,2,1,0,3,26,0,66.2,1
14875,22021,203954,Joel Embiid,1610612755,PHI,Philadelphia 76ers,0022100704,2022-01-23,PHI @ SAS,W,...,12,6,0,1,1,2,38,8,63.4,1
14980,22021,203999,Nikola Jokic,1610612743,DEN,Denver Nuggets,0022100707,2022-01-23,DEN vs. DET,W,...,9,8,2,1,3,1,34,13,62.8,1
15132,22021,203999,Nikola Jokic,1610612743,DEN,Denver Nuggets,0022100714,2022-01-25,DEN @ DET,None,...,19,8,1,0,2,2,25,12,60.8,0
15206,22021,203954,Joel Embiid,1610612755,PHI,Philadelphia 76ers,0022100454,2022-01-25,PHI vs. NOP,None,...,11,3,0,2,3,3,30,-2,50.7,0

In [41]:
columns = ['PLAYER_NAME', 'MIN', 'FGM', 'FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'REB', 'BLK', 'TOV', 'PTS', 'PLUS_MINUS']
key_centers = pd.DataFrame(key_centers[columns], columns=columns)

embiid = key_centers.loc[key_centers['PLAYER_NAME'].str.contains('Embiid')]
giannis = key_centers.loc[key_centers['PLAYER_NAME'].str.contains('Giannis')]
jokic = key_centers.loc[key_centers['PLAYER_NAME'].str.contains('Jokic')]

embiid_last_10_games = embiid.iloc[-10:,:].mean()
giannis_last_10_games = giannis.iloc[-10:,:].mean()
jokic_last_10_games = jokic.iloc[-10:,:].mean()

player_names = pd.Series(['Joel Embiid', 'Giannis Antetokounmpo', 'Nikola Jokic'])

player_means_last_10_games = pd.DataFrame([embiid_last_10_games, giannis_last_10_games, jokic_last_10_games], columns=columns)
player_means_last_10_games['PLAYER_NAME'] = player_names

player_means_last_10_games.head()

,PLAYER_NAME,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,REB,BLK,TOV,PTS,PLUS_MINUS
0,Joel Embiid,31.0,11.5,21.2,0.5411,1.1,3.1,0.2952,9.9,11.9,0.8346,10.7,1.3,3.2,34.0,6.7
1,Giannis Antetokounmpo,33.7,10.3,19.6,0.5302,1.2,3.9,0.2766,9.8,12.6,0.7590,10.9,1.2,4.2,31.6,2.9
2,Nikola Jokic,34.2,10.2,17.3,0.6017,1.7,4.3,0.4119,5.1,5.9,0.8942,12.9,0.7,2.8,27.2,9.5

In [42]:
embiid = embiid.mean()
giannis = giannis.mean()
jokic = jokic.mean()

player_means = pd.DataFrame([embiid, giannis, jokic], columns=columns)
player_means['PLAYER_NAME'] = player_names

player_means.head()

,PLAYER_NAME,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,REB,BLK,TOV,PTS,PLUS_MINUS
0,Joel Embiid,32.638889,9.333333,18.750000,0.486917,1.277778,3.333333,0.371000,8.750000,10.722222,0.816972,10.694444,1.388889,2.916667,28.694444,4.777778
1,Giannis Antetokounmpo,32.769231,9.923077,18.692308,0.525718,1.076923,3.820513,0.265462,7.692308,10.769231,0.723744,11.282051,1.487179,3.487179,28.615385,6.564103
2,Nikola Jokic,33.048780,10.097561,17.707317,0.586341,1.536585,4.268293,0.397425,4.365854,5.463415,0.818692,13.878049,0.780488,3.487805,26.097561,7.000000