In [30]:
from nba_api.stats.endpoints import leaguegamelog
import matplotlib.pyplot as plt
import pandas as pd

In [6]:
league_game_log = leaguegamelog.LeagueGameLog(season = '2021', player_or_team_abbreviation = 'P').get_data_frames()[0]

In [11]:
league_game_log.describe()

,PLAYER_ID,TEAM_ID,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,...,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,FANTASY_PTS,VIDEO_AVAILABLE
count,1.442600e+04,1.442600e+04,14426.000000,14426.000000,14426.000000,13688.000000,14426.000000,14426.000000,11261.000000,14426.000000,...,14426.000000,14426.000000,14426.000000,14426.000000,14426.000000,14426.000000,14426.000000,14426.000000,14426.000000,14426.000000
mean,1.169559e+06,1.610613e+09,22.479274,3.724456,8.210592,0.442214,1.149938,3.301054,0.320143,1.510883,...,4.176626,2.238389,0.716553,0.454388,1.237003,1.798281,10.109732,-0.003119,20.755088,1.001248
std,6.697455e+05,8.666299e+00,10.841145,3.112046,5.913239,0.239455,1.470512,3.067236,0.289317,2.173366,...,3.469400,2.526959,0.952020,0.795938,1.407154,1.462198,8.369381,11.297848,14.352349,0.035303
min,2.207000e+03,1.610613e+09,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-56.000000,-3.300000,1.000000
25%,2.035070e+05,1.610613e+09,15.000000,1.000000,4.000000,0.308000,0.000000,1.000000,0.000000,0.000000,...,2.000000,0.000000,0.000000,0.000000,0.000000,1.000000,4.000000,-7.000000,9.400000,1.000000
50%,1.628398e+06,1.610613e+09,23.000000,3.000000,7.000000,0.444000,1.000000,3.000000,0.333000,1.000000,...,3.000000,1.000000,0.000000,0.000000,1.000000,2.000000,8.000000,0.000000,19.000000,1.000000
75%,1.629672e+06,1.610613e+09,31.000000,6.000000,12.000000,0.571000,2.000000,5.000000,0.500000,2.000000,...,6.000000,3.000000,1.000000,1.000000,2.000000,3.000000,15.000000,7.000000,29.800000,1.000000
max,1.630846e+06,1.610613e+09,53.000000,19.000000,36.000000,1.000000,10.000000,20.000000,1.000000,19.000000,...,25.000000,18.000000,8.000000,8.000000,10.000000,6.000000,56.000000,52.000000,87.800000,2.000000

In [15]:
print(league_game_log.columns)
league_game_log.head()

Index(['SEASON_ID', 'PLAYER_ID', 'PLAYER_NAME', 'TEAM_ID', 'TEAM_ABBREVIATION',
       'TEAM_NAME', 'GAME_ID', 'GAME_DATE', 'MATCHUP', 'WL', 'MIN', 'FGM',
       'FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT',
       'OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS',
       'PLUS_MINUS', 'FANTASY_PTS', 'VIDEO_AVAILABLE'],
      dtype='object')

,SEASON_ID,PLAYER_ID,PLAYER_NAME,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,...,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,FANTASY_PTS,VIDEO_AVAILABLE
0,22021,201566,Russell Westbrook,1610612747,LAL,Los Angeles Lakers,0022100002,2021-10-19,LAL vs. GSW,L,...,5,4,0,0,4,4,8,-23,16.0,1
1,22021,202340,Avery Bradley,1610612747,LAL,Los Angeles Lakers,0022100002,2021-10-19,LAL vs. GSW,L,...,1,1,0,0,1,2,6,1,7.7,1
2,22021,1626172,Kevon Looney,1610612744,GSW,Golden State Warriors,0022100002,2021-10-19,GSW @ LAL,W,...,4,1,1,1,1,0,7,-8,18.3,1
3,22021,2738,Andre Iguodala,1610612744,GSW,Golden State Warriors,0022100002,2021-10-19,GSW @ LAL,W,...,1,2,0,1,0,1,12,8,19.2,1
4,22021,1629308,Juan Toscano-Anderson,1610612744,GSW,Golden State Warriors,0022100002,2021-10-19,GSW @ LAL,W,...,3,1,0,0,1,1,6,7,10.1,1

In [57]:
key_centers = league_game_log.loc[(league_game_log['PLAYER_NAME'].str.contains('Embiid') | league_game_log['PLAYER_NAME'].str.contains('Giannis') | league_game_log['PLAYER_NAME'].str.contains('Jokic'))]

In [64]:
columns = ['PLAYER_NAME', 'MIN', 'FGM', 'FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'REB', 'BLK', 'TOV', 'PTS', 'PLUS_MINUS']
key_centers = pd.DataFrame(key_centers[columns], columns=columns)

embiid = (key_centers.loc[key_centers['PLAYER_NAME'].str.contains('Embiid')]).mean()
giannis = (key_centers.loc[key_centers['PLAYER_NAME'].str.contains('Giannis')]).mean()
jokic = (key_centers.loc[key_centers['PLAYER_NAME'].str.contains('Jokic')]).mean()

player_names = pd.Series(['Joel Embiid', 'Giannis Antetokounmpo', 'Nikola Jokic'])

player_means = pd.DataFrame([embiid, giannis, jokic], columns=columns)
player_means['PLAYER_NAME'] = player_names

player_means.head()

,PLAYER_NAME,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,REB,BLK,TOV,PTS,PLUS_MINUS
0,Joel Embiid,32.727273,8.969697,18.151515,0.483485,1.272727,3.393939,0.364125,8.818182,10.787879,0.818818,10.575758,1.393939,2.909091,28.030303,5.212121
1,Giannis Antetokounmpo,32.657895,9.894737,18.578947,0.526974,1.105263,3.842105,0.272447,7.684211,10.736842,0.725237,11.263158,1.473684,3.500000,28.578947,6.710526
2,Nikola Jokic,32.921053,10.078947,17.710526,0.586211,1.526316,4.157895,0.403892,4.236842,5.368421,0.815611,13.947368,0.789474,3.631579,25.921053,6.894737